<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCSWE.nanoFramework.Collections.Concurrent" version="0.4.4" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Configuration" version="0.2.8" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Core" version="0.2.6" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Mediator" version="0.2.5" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Threading" version="0.2.4" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device" version="1.0.38.15761" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.FileStorage" version="1.0.30.57507" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Interface" version="1.0.36.21434" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Server" version="1.0.33.42549" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.Invoker" version="1.0.24.34787" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.String" version="1.0.31.17475" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.TimeZones" version="1.0.9.41101" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.14.2" targetFramework="netnano1.0" />
  <package id="nanoFramework.DependencyInjection" version="1.0.35" targetFramework="netnano1.0" />
  <package id="nanoFramework.Graphics" version="1.1.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.Graphics.Core" version="1.1.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.Hosting" version="1.0.25" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Button" version="1.2.329" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.DhcpServer" version="1.2.378" targetFramework="netnano1.0" />
  <package id="nanoFramework.Json" version="2.2.101" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.63" targetFramework="netnano1.0" />
  <package id="nanoFramework.ResourceManager" version="1.2.13" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="1.6.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.28" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Wifi" version="1.5.65" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.FileSystem" version="1.1.23" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.38" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.29" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net" version="1.10.62" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net.Http" version="1.5.104" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text.RegularExpressions" version="1.1.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.19" targetFramework="netnano1.0" />
</packages>